<!-- <div style="height: 400px;width: 1000px;margin-top: 100px;"> -->
  <wp-container [label]="courseName" [icon]="courseIcon">
    <wp-page label="Welcome">
      <div class="content--center" style="height: 100%;flex-direction: column">
        <img src="assets/logo.png" height="120"/>
        <h1>Angular 6</h1>
      </div>
    </wp-page>
    <wp-page label="Outline">
      <div class="content--center" style="height: 100%;flex-direction: column">
        <h1>working...</h1>
      </div>
    </wp-page>
    <wp-page label="End">
      <div class="content--center" style="height: 100%;flex-direction: column">
        <h1>THANK YOU</h1>
      </div>
    </wp-page>
  </wp-container>
<!-- </div> -->